* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Tahoma", sans-serif;
  background: linear-gradient(to bottom, #eef5ef, #fdfefe);
  color: #2f4f4f;
}


.container {
  width: 90%;
  max-width: 420px;
  margin: 50px auto;
  background: #ffffff;
  padding: 25px 20px;
  border-radius: 18px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
}


h1 {
  text-align: center;
  margin-bottom: 5px;
}

.subtitle {
  text-align: center;
  font-size: 14px;
  color: #6b8e6e;
  margin-bottom: 20px;
}


.add-challenge {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.add-challenge input {
  flex: 1;
  padding: 10px 12px;
  border-radius: 12px;
  border: 1px solid #cdded0;
  outline: none;
}

.add-challenge input:focus {
  border-color: #7fb77e;
}

.add-challenge button {
  border: none;
  border-radius: 12px;
  background: #7fb77e;
  color: white;
  font-size: 20px;
  cursor: pointer;
  padding: 0 15px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  background: #f7faf7;
  padding: 10px 12px;
  border-radius: 12px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: 0.3s;
}

li:hover {
  background: #eef5ef;
}

li input {
  transform: scale(1.2);
}

li.done span {
  text-decoration: line-through;
  color: #2e8b57;
  font-weight: bold;
}


.footer-text {
  text-align: center;
  margin-top: 20px;
  font-size: 13px;
  color: #6b8e6e;
}
